In [2]:
import pandas as pd
import petl as etl

In [3]:
import os

raw_data_path = "data/raw"
raw_data_directory = []

for filename in os.listdir(raw_data_path):
    file = os.path.join(raw_data_path, filename)

    if os.path.isfile(file):
        print(file)
        raw_data_directory.append(file)

data/raw\2010-2020_Bassetlaw_outlet.csv
data/raw\2010-2020_Castle_Point_outlet.csv
data/raw\2010-2020_Ceredigion_store.json
data/raw\2010-2020_Cheshire_East_outlet.csv
data/raw\2010-2020_Chiltern_store.json
data/raw\2010-2020_Dorset_outlet.json
data/raw\2010-2020_East_Cambridgeshire_outlet.csv
data/raw\2010-2020_East_Devon_branch.csv
data/raw\2010-2020_East_Sussex_outlet.csv
data/raw\2010-2020_Epsom_and_Ewell_store.json
data/raw\2010-2020_Flintshire_branch.csv
data/raw\2010-2020_Forest_of_Dean_store.csv
data/raw\2010-2020_Fylde_outlet.csv
data/raw\2010-2020_Greater_London_branch.csv
data/raw\2010-2020_Greater_London_branch.json
data/raw\2010-2020_Haringey_store.json
data/raw\2010-2020_Kent_branch.json
data/raw\2010-2020_Lambeth_store.json
data/raw\2010-2020_Larne_store.json
data/raw\2010-2020_Lichfield_outlet.csv
data/raw\2010-2020_Lincoln_branch.csv
data/raw\2010-2020_Mole_Valley_store.csv
data/raw\2010-2020_Newham_branch.json
data/raw\2010-2020_North_Ayrshire_store.json
data/raw\2010-2020_North_Yorkshire_store.json
data/raw\2010-2020_Orkney_store.csv
data/raw\2010-2020_Peeblesshire_outlet.json
data/raw\2010-2020_Richmondshire_outlet.json
data/raw\2010-2020_Sefton_outlet.json
data/raw\2010-2020_South_Northamptonshire_store.json
data/raw\2010-2020_Staffordshire_store.csv
data/raw\2010-2020_Stoke-on-Trent_store.csv
data/raw\2010-2020_Swansea_store.csv
data/raw\2010-2020_Tyne_and_Wear_outlet.json
data/raw\2010-2020_Warwickshire_branch.csv
data/raw\2010-2020_Wyre_branch.csv
data/raw\2011-2020_Barry_outlet.json
data/raw\2011-2020_Bedford_Borough_branch.json
data/raw\2011-2020_Belfast_branch.csv
data/raw\2011-2020_Bracknell_Forest_store.csv
data/raw\2011-2020_Bridgend_outlet.json
data/raw\2011-2020_Chorley_store.csv
data/raw\2011-2020_Dumfries_and_Galloway_branch.json
data/raw\2011-2020_East_Lindsey_branch.csv
data/raw\2011-2020_East_Lindsey_branch.json
data/raw\2011-2020_Falkirk_branch.csv
data/raw\2011-2020_Falkirk_branch.json
data/raw\2011-2020_Fareham_outlet.csv
data/raw\2011-2020_Hampshire_branch.json
data/raw\2011-2020_Harrow_outlet.csv
data/raw\2011-2020_Hinckley_and_Bosworth_branch.json
data/raw\2011-2020_Isle_of_Wight_store.csv
data/raw\2011-2020_Islington_branch.csv
data/raw\2011-2020_Islington_branch.json
data/raw\2011-2020_Norfolk_outlet.csv
data/raw\2011-2020_North_Yorkshire_outlet.csv
data/raw\2011-2020_Nottinghamshire_store.csv
data/raw\2011-2020_Oxford_outlet.json
data/raw\2011-2020_Powys_outlet.csv
data/raw\2011-2020_Rhoose_branch.csv
data/raw\2011-2020_St._Edmundsbury_branch.json
data/raw\2011-2020_West_Somerset_branch.csv
data/raw\2011-2020_West_Somerset_branch.json
data/raw\2012-2020_Armagh_outlet.csv
data/raw\2012-2020_Ballymoney_store.csv
data/raw\2012-2020_Bargoed_outlet.json
data/raw\2012-2020_Bedfordshire_store.json
data/raw\2012-2020_Colchester_outlet.json
data/raw\2012-2020_Darlington_store.csv
data/raw\2012-2020_East_Dunbartonshire_branch.json
data/raw\2012-2020_East_Hertfordshire_branch.json
data/raw\2012-2020_Edinburgh_City_branch.csv
data/raw\2012-2020_Edinburgh_City_branch.json
data/raw\2012-2020_Glasgow_City_outlet.csv
data/raw\2012-2020_Hackney_store.csv
data/raw\2012-2020_Isle_of_Anglesey_outlet.json
data/raw\2012-2020_Lancashire_store.json
data/raw\2012-2020_Lincolnshire_store.json
data/raw\2012-2020_Neath_Port_Talbot_outlet.csv
data/raw\2012-2020_Neath_Port_Talbot_outlet.json
data/raw\2012-2020_Newark_and_Sherwood_store.json
data/raw\2012-2020_Reigate_and_Banstead_branch.csv
data/raw\2012-2020_Rugby_branch.json
data/raw\2012-2020_Rushcliffe_branch.csv
data/raw\2012-2020_Selby_branch.json
data/raw\2012-2020_Sevenoaks_branch.csv
data/raw\2012-2020_Shepway_store.csv
data/raw\2012-2020_Stockton-on-Tees_store.csv
data/raw\2012-2020_Uttlesford_branch.json
data/raw\2012-2020_West_Oxfordshire_outlet.csv
data/raw\2012-2020_Worcestershire_branch.csv
data/raw\2012-2020_Wrexham_store.csv
data/raw\2012-2020_Wrexham_store.json
data/raw\2012-2020_York_outlet.json

In [4]:
raw_data_directory

['data/raw\\2010-2020_Bassetlaw_outlet.csv',
 'data/raw\\2010-2020_Castle_Point_outlet.csv',
 'data/raw\\2010-2020_Ceredigion_store.json',
 'data/raw\\2010-2020_Cheshire_East_outlet.csv',
 'data/raw\\2010-2020_Chiltern_store.json',
 'data/raw\\2010-2020_Dorset_outlet.json',
 'data/raw\\2010-2020_East_Cambridgeshire_outlet.csv',
 'data/raw\\2010-2020_East_Devon_branch.csv',
 'data/raw\\2010-2020_East_Sussex_outlet.csv',
 'data/raw\\2010-2020_Epsom_and_Ewell_store.json',
 'data/raw\\2010-2020_Flintshire_branch.csv',
 'data/raw\\2010-2020_Forest_of_Dean_store.csv',
 'data/raw\\2010-2020_Fylde_outlet.csv',
 'data/raw\\2010-2020_Greater_London_branch.csv',
 'data/raw\\2010-2020_Greater_London_branch.json',
 'data/raw\\2010-2020_Haringey_store.json',
 'data/raw\\2010-2020_Kent_branch.json',
 'data/raw\\2010-2020_Lambeth_store.json',
 'data/raw\\2010-2020_Larne_store.json',
 'data/raw\\2010-2020_Lichfield_outlet.csv',
 'data/raw\\2010-2020_Lincoln_branch.csv',
 'data/raw\\2010-2020_Mole_Valley_store.csv',
 'data/raw\\2010-2020_Newham_branch.json',
 'data/raw\\2010-2020_North_Ayrshire_store.json',
 'data/raw\\2010-2020_North_Yorkshire_store.json',
 'data/raw\\2010-2020_Orkney_store.csv',
 'data/raw\\2010-2020_Peeblesshire_outlet.json',
 'data/raw\\2010-2020_Richmondshire_outlet.json',
 'data/raw\\2010-2020_Sefton_outlet.json',
 'data/raw\\2010-2020_South_Northamptonshire_store.json',
 'data/raw\\2010-2020_Staffordshire_store.csv',
 'data/raw\\2010-2020_Stoke-on-Trent_store.csv',
 'data/raw\\2010-2020_Swansea_store.csv',
 'data/raw\\2010-2020_Tyne_and_Wear_outlet.json',
 'data/raw\\2010-2020_Warwickshire_branch.csv',
 'data/raw\\2010-2020_Wyre_branch.csv',
 'data/raw\\2011-2020_Barry_outlet.json',
 'data/raw\\2011-2020_Bedford_Borough_branch.json',
 'data/raw\\2011-2020_Belfast_branch.csv',
 'data/raw\\2011-2020_Bracknell_Forest_store.csv',
 'data/raw\\2011-2020_Bridgend_outlet.json',
 'data/raw\\2011-2020_Chorley_store.csv',
 'data/raw\\2011-2020_Dumfries_and_Galloway_branch.json',
 'data/raw\\2011-2020_East_Lindsey_branch.csv',
 'data/raw\\2011-2020_East_Lindsey_branch.json',
 'data/raw\\2011-2020_Falkirk_branch.csv',
 'data/raw\\2011-2020_Falkirk_branch.json',
 'data/raw\\2011-2020_Fareham_outlet.csv',
 'data/raw\\2011-2020_Hampshire_branch.json',
 'data/raw\\2011-2020_Harrow_outlet.csv',
 'data/raw\\2011-2020_Hinckley_and_Bosworth_branch.json',
 'data/raw\\2011-2020_Isle_of_Wight_store.csv',
 'data/raw\\2011-2020_Islington_branch.csv',
 'data/raw\\2011-2020_Islington_branch.json',
 'data/raw\\2011-2020_Norfolk_outlet.csv',
 'data/raw\\2011-2020_North_Yorkshire_outlet.csv',
 'data/raw\\2011-2020_Nottinghamshire_store.csv',
 'data/raw\\2011-2020_Oxford_outlet.json',
 'data/raw\\2011-2020_Powys_outlet.csv',
 'data/raw\\2011-2020_Rhoose_branch.csv',
 'data/raw\\2011-2020_St._Edmundsbury_branch.json',
 'data/raw\\2011-2020_West_Somerset_branch.csv',
 'data/raw\\2011-2020_West_Somerset_branch.json',
 'data/raw\\2012-2020_Armagh_outlet.csv',
 'data/raw\\2012-2020_Ballymoney_store.csv',
 'data/raw\\2012-2020_Bargoed_outlet.json',
 'data/raw\\2012-2020_Bedfordshire_store.json',
 'data/raw\\2012-2020_Colchester_outlet.json',
 'data/raw\\2012-2020_Darlington_store.csv',
 'data/raw\\2012-2020_East_Dunbartonshire_branch.json',
 'data/raw\\2012-2020_East_Hertfordshire_branch.json',
 'data/raw\\2012-2020_Edinburgh_City_branch.csv',
 'data/raw\\2012-2020_Edinburgh_City_branch.json',
 'data/raw\\2012-2020_Glasgow_City_outlet.csv',
 'data/raw\\2012-2020_Hackney_store.csv',
 'data/raw\\2012-2020_Isle_of_Anglesey_outlet.json',
 'data/raw\\2012-2020_Lancashire_store.json',
 'data/raw\\2012-2020_Lincolnshire_store.json',
 'data/raw\\2012-2020_Neath_Port_Talbot_outlet.csv',
 'data/raw\\2012-2020_Neath_Port_Talbot_outlet.json',
 'data/raw\\2012-2020_Newark_and_Sherwood_store.json',
 'data/raw\\2012-2020_Reigate_and_Banstead_branch.csv',
 'data/raw\\2012-2020_Rugby_branch.json',
 'data/raw\\2012-2020_Rushcliffe_branch.csv',
 'data/raw\\2012-2020_Selby_branch.json',
 'data/raw\\2012-2020_Sevenoaks_branch.csv',
 'data/raw\\2012-2020_Shepway_store.csv',
 'data/raw\\2012-2020_Stockton-on-Tees_store.csv',
 'data/raw\\2012-2020_Uttlesford_branch.json',
 'data/raw\\2012-2020_West_Oxfordshire_outlet.csv',
 'data/raw\\2012-2020_Worcestershire_branch.csv',
 'data/raw\\2012-2020_Wrexham_store.csv',
 'data/raw\\2012-2020_Wrexham_store.json',
 'data/raw\\2012-2020_York_outlet.json']

In [12]:
test_table = etl.fromcsv(raw_data_directory[0])

test_table

+--------+-------+-----+------+-----------------------------+--------------------+----------------------+
| year   | month | day | hour | sku                         | quantity_purchased | amount_in_gbp        |
+========+=======+=====+======+=============================+====================+======================+
| '2010' | '1'   | '9' | '0'  | 'chocolate twist'           | '182'              | '145.6'              |
+--------+-------+-----+------+-----------------------------+--------------------+----------------------+
| '2010' | '1'   | '9' | '0'  | 'plastic sunshades'         | '98'               | '313.6'              |
+--------+-------+-----+------+-----------------------------+--------------------+----------------------+
| '2010' | '1'   | '9' | '0'  | 'lg washing machine'        | '151'              | '12080.0'            |
+--------+-------+-----+------+-----------------------------+--------------------+----------------------+
| '2010' | '1'   | '9' | '0'  | 'fresh whole chicken'       | '230'              | '257.59999999999997' |
+--------+-------+-----+------+-----------------------------+--------------------+----------------------+
| '2010' | '1'   | '9' | '0'  | 'free range large eggs x12' | '150'              | '180.00000000000003' |
+--------+-------+-----+------+-----------------------------+--------------------+----------------------+
...

In [ ]:
test_table

+--------+-------+-----+------+-----------------------------+--------------------+----------------------+
| year   | month | day | hour | sku                         | quantity_purchased | amount_in_gbp        |
+========+=======+=====+======+=============================+====================+======================+
| '2010' | '1'   | '9' | '0'  | 'chocolate twist'           | '182'              | '145.6'              |
+--------+-------+-----+------+-----------------------------+--------------------+----------------------+
| '2010' | '1'   | '9' | '0'  | 'plastic sunshades'         | '98'               | '313.6'              |
+--------+-------+-----+------+-----------------------------+--------------------+----------------------+
| '2010' | '1'   | '9' | '0'  | 'lg washing machine'        | '151'              | '12080.0'            |
+--------+-------+-----+------+-----------------------------+--------------------+----------------------+
| '2010' | '1'   | '9' | '0'  | 'fresh whole chicken'       | '230'              | '257.59999999999997' |
+--------+-------+-----+------+-----------------------------+--------------------+----------------------+
| '2010' | '1'   | '9' | '0'  | 'free range large eggs x12' | '150'              | '180.00000000000003' |
+--------+-------+-----+------+-----------------------------+--------------------+----------------------+
...

In [ ]:
test_table = etl.convert(test_table, 'quantity_purchased', float)

#test_table = etl.todataframe(test_table)

FieldSelectionError: selection is not a field or valid field index: 'quantity_purchased'

In [ ]:
#if str(raw_data_directory[0]).endswith('v'):
    #print('csv file')

csv file

In [ ]:
#print(test_table.groupby('sku'))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000029306C16A30>

In [ ]:
#example = pd.read_csv(raw_data_directory[0])

#example

,year,month,day,hour,sku,quantity_purchased,amount_in_gbp
0,2010,1,9,0,chocolate twist,182,145.6
1,2010,1,9,0,plastic sunshades,98,313.6
2,2010,1,9,0,lg washing machine,151,12080.0
3,2010,1,9,0,fresh whole chicken,230,257.6
4,2010,1,9,0,free range large eggs x12,150,180.0
...,...,...,...,...,...,...,...
1119657,2020,12,23,23,chicken sausages,225,450.0
1119658,2020,12,23,23,silk scarf,8,1072.0
1119659,2020,12,23,23,denim jeams,185,5550.0
1119660,2020,12,23,23,cod fillets,48,96.0
1119661,2020,12,23,23,organic raspberry yoghurt,103,144.2

In [ ]:
#final_test = pd.DataFrame(test_table)

#final_test

,year,month,day,hour,sku,quantity_purchased,amount_in_gbp
0,2010,1,9,0,chocolate twist,182.0,145.6
1,2010,1,9,0,plastic sunshades,98.0,313.6
2,2010,1,9,0,lg washing machine,151.0,12080.0
3,2010,1,9,0,fresh whole chicken,230.0,257.59999999999997
4,2010,1,9,0,free range large eggs x12,150.0,180.00000000000003
...,...,...,...,...,...,...,...
1119657,2020,12,23,23,chicken sausages,225.0,450.0
1119658,2020,12,23,23,silk scarf,8.0,1072.0
1119659,2020,12,23,23,denim jeams,185.0,5550.0
1119660,2020,12,23,23,cod fillets,48.0,96.0
1119661,2020,12,23,23,organic raspberry yoghurt,103.0,144.2

In [ ]:
#final_test.groupby('sku').sum()

                             quantity_purchased
sku
21 day mature ribeye steak            1038525.0
21 day mature rump steak              1055328.0
21 day mature sirlion steak           1039897.0
Almond milk                           1033695.0
Blueberry yoghurt                     1055307.0
...                                         ...
vernison sausages                     1045170.0
wellington boots                      1054610.0
white shirt                           1052911.0
wristwatch                            1066589.0
x-box 360                             1049681.0

[124 rows x 1 columns]